name: generate

on: pull_request

jobs:
  generate:
    name: generate
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies and generate
      run: |
        sudo apt update
        sudo apt install -y protobuf-compiler
        sudo apt install -y --no-install-recommends python3 python3-pip
        sudo apt install -y --no-install-recommends nodejs npm
        sudo apt install -y --no-install-recommends ruby
        sudo python -m pip install --upgrade pip
        sudo gem install grpc grpc-tools
        pip3 install --no-cache-dir --ignore-installed grpcio grpcio-tools
        npm i grpc-tools
        GOBIN=$(go env GOPATH)/bin go get github.com/unistack-org/protoc-gen-all github.com/golang/protobuf/protoc-gen-go github.com/micro/protoc-gen-micro
        PATH=$PATH:$(go env GOPATH)/bin:$(npm bin):/usr/local/bin/ protoc-gen-all -srcdir proto/ -dstdir generated/ -langs go,python,java,ruby

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git status
        git commit -m "regen" -a
